{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'section-footer-5.css' | asset_url }}" media="print" onload="this.media='all'">

<footer class="footer footer-05 gradient section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="grid">
      <div class="copyright__content">© 2024 Whales Market</div>

      <a class="logo_image_small" href="https://whales.market/" title="Whales Market">
        <svg width="501" height="420" viewBox="0 0 501 420" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M151.22 123.829C142.169 125.212 137.638 125.894 128.587 127.276C124.869 80.552 151.033 45.0277 196.73 34.6777C198.103 43.7293 198.795 48.2597 200.177 57.3112C167.007 65.877 149.53 89.4728 151.23 123.829H151.22Z" fill="#19FB9B"/>
          <path d="M431.501 246.713C431.501 246.713 428.577 217.84 403.543 214.365C378.499 210.89 373.138 219.848 373.138 219.848C373.138 219.848 391.904 237.876 397.023 261.519C402.142 285.152 393.856 290.756 385.085 283.452C376.304 276.138 368.271 261.519 354.381 221.315C340.49 181.101 313.681 135.535 250.573 110.193C214.563 95.7326 172.378 92.7061 132.828 101.73C130.652 101.58 128.447 101.431 126.205 101.281C63.8532 97.2645 34.5501 100.469 27.208 101.505C26.1151 101.664 25.0222 101.72 23.9199 101.814C18.7916 102.243 13.8223 106.989 12.3557 113.079L1.28641 159.019C-1.46922 170.48 0.324282 181.577 5.49926 189.732L5.47121 189.714L12.5705 201.399C11.0853 205.509 9.76826 209.694 8.64732 213.963C6.51755 222.099 5.06962 230.497 4.38772 239.063C29.0389 226.994 77.3137 209.339 150.501 236.578C256.019 275.839 261.866 326.523 338.379 346.233C382.264 357.536 404.636 342.749 416.667 324.683C422.421 313.483 426.457 301.004 428.213 287.104C428.213 287.104 450.51 285.096 467.137 275.045C483.774 264.994 494.553 255.849 500.223 254.205C500.223 254.205 484.315 224.603 431.501 246.713Z" fill="#19FB9B"/>
          <path d="M248.038 43.3772C248.252 19.8482 229.351 0.600906 205.822 0.387358C182.293 0.173809 163.046 19.0748 162.832 42.6039C162.618 66.1329 181.519 85.3801 205.048 85.5937C228.577 85.8072 247.825 66.9062 248.038 43.3772Z" fill="#19FB9B"/>
          <path d="M224.855 43.1675C224.952 32.4424 216.337 23.6691 205.612 23.5718C194.887 23.4745 186.113 32.0899 186.016 42.815C185.919 53.54 194.534 62.3133 205.259 62.4106C215.984 62.508 224.758 53.8925 224.855 43.1675Z" fill="white"/>
          <path d="M416.676 324.682C392.483 371.817 337.94 396.347 295.42 408.948C242.782 424.538 122.03 432.366 51.7378 360.206C14.4294 321.907 1.23046 278.649 4.3971 239.061C29.0483 226.992 77.3138 209.338 150.511 236.576C256.028 275.837 261.876 326.522 338.389 346.232C382.273 357.534 404.645 342.748 416.676 324.682Z" fill="#9945FF"/>
          <path d="M18.2406 160.045L16.9421 165.454C15.5035 171.451 15.5595 177.326 16.8766 182.538C17.3717 184.491 18.0444 186.35 18.8851 188.087C19.3615 189.077 19.8845 190.039 20.473 190.945C20.6599 191.254 20.8561 191.534 21.0523 191.814C21.9864 193.169 23.0418 194.411 24.2095 195.513C26.003 197.241 28.0674 198.661 30.3467 199.698C31.6544 200.296 33.0462 200.772 34.4941 201.109L50.2991 197.811L53.8021 197.083L57.5759 196.298L23.7798 137.057L18.2406 160.045Z" fill="#260246"/>
          <path d="M40.0049 113.235L84.9264 191.943C88.0276 191.738 91.1476 191.644 94.2675 191.663C97.4061 191.672 100.564 191.803 103.73 192.046L58.08 112.049C49.5609 112.357 43.6479 112.852 40.0049 113.235Z" fill="#260246"/>
          <path d="M259.896 132.283C259.232 132.227 258.578 132.105 257.962 131.918C257.588 131.797 222.288 121.092 143.318 114.805C140.572 114.591 137.77 114.376 134.921 114.17C134.463 114.133 134.015 114.105 133.566 114.077C130.689 113.871 127.887 113.675 125.159 113.507C119.592 113.152 114.324 112.862 109.326 112.629C107.785 112.554 106.281 112.489 104.796 112.433C101.283 112.283 97.9206 112.162 94.7072 112.059C91.8208 111.975 89.0559 111.91 86.4031 111.863C83.2084 111.807 80.1819 111.779 77.3142 111.77H76.791L124.365 195.148C138.965 198.464 153.276 204.144 166.97 212.177L202.905 233.26C224.53 236.651 246.678 222.294 251.834 200.557L266.107 140.344C267.069 136.262 264.277 132.638 259.896 132.283Z" fill="#260246"/>
          <path d="M35.4744 113.827C35.0447 113.911 34.6243 113.929 34.2132 113.901C31.5791 113.687 28.8327 116.069 28.0761 119.207L23.7793 137.058L57.5754 196.299L66.2346 194.487C72.0354 193.282 77.9017 192.451 83.824 192.021C84.1883 191.993 84.5619 191.965 84.9262 191.946L40.0047 113.238C36.9782 113.565 35.5304 113.808 35.4744 113.827Z" fill="white"/>
          <path d="M76.7904 111.771C73.5023 111.761 70.4289 111.771 67.5612 111.818C66.1787 111.836 64.8523 111.864 63.5725 111.892C61.6296 111.939 59.7988 111.995 58.0801 112.051L103.73 192.048C107.784 192.338 111.866 192.824 115.948 193.496C118.76 193.963 121.562 194.514 124.365 195.15L76.7904 111.771Z" fill="white"/>
          </svg>
      </a>

      <div class="social-links flex item-center justify-center">
        <a href="https://t.me/verifyWhalesmarket" title="Telegram" target="_blank" class="opacity-50 hover:opacity-100">
          <svg xmlns="http://www.w3.org/2000/svg" height="1rem" viewBox="0 0 496 512"><path d="M248 8C111 8 0 119 0 256S111 504 248 504 496 393 496 256 385 8 248 8zM363 176.7c-3.7 39.2-19.9 134.4-28.1 178.3-3.5 18.6-10.3 24.8-16.9 25.4-14.4 1.3-25.3-9.5-39.3-18.7-21.8-14.3-34.2-23.2-55.3-37.2-24.5-16.1-8.6-25 5.3-39.5 3.7-3.8 67.1-61.5 68.3-66.7 .2-.7 .3-3.1-1.2-4.4s-3.6-.8-5.1-.5q-3.3 .7-104.6 69.1-14.8 10.2-26.9 9.9c-8.9-.2-25.9-5-38.6-9.1-15.5-5-27.9-7.7-26.8-16.3q.8-6.7 18.5-13.7 108.4-47.2 144.6-62.3c68.9-28.6 83.2-33.6 92.5-33.8 2.1 0 6.6 .5 9.6 2.9a10.5 10.5 0 0 1 3.5 6.7A43.8 43.8 0 0 1 363 176.7z"/></svg>
        </a>
        <a href="https://docs.whales.market/" title="Docs" target="_blank" class="opacity-50 hover:opacity-100">
          <svg xmlns="http://www.w3.org/2000/svg" height="1rem" viewBox="0 0 448 512"><path d="M448 360V24c0-13.3-10.7-24-24-24H96C43 0 0 43 0 96v320c0 53 43 96 96 96h328c13.3 0 24-10.7 24-24v-16c0-7.5-3.5-14.3-8.9-18.7-4.2-15.4-4.2-59.3 0-74.7 5.4-4.3 8.9-11.1 8.9-18.6zM128 134c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm0 64c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm253.4 250H96c-17.7 0-32-14.3-32-32 0-17.6 14.4-32 32-32h285.4c-1.9 17.1-1.9 46.9 0 64z"/></svg>
        </a>
        <a href="https://twitter.com/WhalesMarket" title="Twitter" target="_blank" class="opacity-50 hover:opacity-100">
          <!-- Generator: Adobe Illustrator 27.5.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg version="1.1" id="svg5" height="1rem" xmlns:svg="http://www.w3.org/2000/svg"
             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1668.56 1221.19"
             style="enable-background:new 0 0 1668.56 1221.19;" xml:space="preserve">
          <g id="layer1" transform="translate(52.390088,-25.058597)">
            <path id="path1009" d="M283.94,167.31l386.39,516.64L281.5,1104h87.51l340.42-367.76L984.48,1104h297.8L874.15,558.3l361.92-390.99
              h-87.51l-313.51,338.7l-253.31-338.7H283.94z M412.63,231.77h136.81l604.13,807.76h-136.81L412.63,231.77z"/>
          </g>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name"
}
{% endschema %}
