.footer-05 {
	padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-05 .grid {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-05 .logo_image_small svg {
	max-width: 30px;
	height: 24px;
}

.footer-05 .social-links svg {
	fill: #fff;
}