.footer-05 {
	padding: 0;
	border-top: 1px solid rgba(255,255,255,0.1);
}

.footer-05 .page-width {
	padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-05 .grid {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-05 .logo_image_small svg {
	max-width: 30px;
	height: 24px;
}

.footer-05 .social-links {
	gap: 1rem;
  display: flex;
  min-width: 160px;
  justify-content: end;
}

@media screen and (max-width: 989px) {
  .footer-05 {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  .footer-05 .grid {  
  	flex-direction: column;
  }

  .footer-05 .social-links {
  	justify-content: center;
  }
}

.footer-05 .social-links a {
	text-decoration: none;
	opacity: 1;
}

.footer-05 .social-links a:hover,
.footer-05 .social-links a:focus,
.footer-05 .social-links a:active {
	opacity: 0.8;
}

.footer-05 .social-links svg {
	fill: #fff;
}