.footer-05 {
	padding: 0;
}

.footer-05 .page-width {
	padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-05 .grid {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-05 .logo_image_small svg {
	max-width: 30px;
	height: 24px;
}

.footer-05 .social-links {
	gap: .5rem;
  display: flex;
  min-width: 160px;
}

.footer-05 .social-links a {
	text-decoration: none;
	opacity: 0.4;
}

.footer-05 .social-links a:hover,
.footer-05 .social-links a:focus,
.footer-05 .social-links a:active {
	opacity: 1;
}

.footer-05 .social-links svg {
	fill: #fff;
}